body{
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
  margin: 0;
  padding: 15px 0 15px 0;
  background-color: rgb(235, 227, 227);
}
.content{
  padding: 30px;
}
img{
  width: 100%;
  max-width: 300px;
}
#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
.month{
  background-color: rgb(235, 227, 227);
}
thead td{
  padding: 10px 0 10px 0;
}
tbody td{
  border: 1px solid silver ;
  padding: 5px 5px 5px 5px;
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
.arrow{
  width: 8px;
}
a{
  text-decoration: none;
  color: black;
}
