header span{
  margin-top: 5px;
}
header img{
  width: 13px;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
  margin: 0;
  padding: 15px 0 15px 0;
  background-color: rgb(197, 193, 193);
  z-index: 0;
}
.tv{
  width: 80%;
  max-width: 300px;
}
.content p{
  padding: 20px;
}
.arrow{
  width: 8px;
}
#datepicker{
  width: 100%;
  text-align: center;
}

.ui-datepicker{
  margin: 0 auto;
  width: 90% !important;
}
.ui-datepicker tbody td span,
.ui-datepicker tbody td a{
  text-align: center;
}
#catalog{
  display: none;
}
#back{
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 20px;
}
h3{
  margin-top: 0;
  border-bottom: 1px solid silver;
  padding: 10px 0 10px 0;
}
h5{
  margin-top: 0;
}
.show_icon{
  width: 100px;
}

.content__block{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 0 50px;
}
span{
  font-size: 14px;
}
.close,
.allShows{
  margin: 0 auto;
  width: 50%;
  padding: 5px;
  border: 1px solid silver;
  background-color: rgb(224, 217, 217);
}
.thisDay__full{
  display: none;
}





